:root {
  --toolbar-bgcolor: #07090c !important;
  --toolbar-color: #e8e9ea !important;
  --lwt-accent-color: #07090c !important;
  --lwt-text-color: #e8e9ea !important;
  --focus-outline-color: #e60012 !important;
  --button-border-radius: 1px !important;
}

#navigator-toolbox {
  background: #07090c !important;
  border-bottom: 1px solid #e60012 !important;
}

#urlbar-background,
.tab-background,
toolbarbutton {
  border-radius: 1px !important;
}

.tabbrowser-tab[selected] .tab-background {
  background: #191d23 !important;
  box-shadow: inset 0 -2px #e60012 !important;
}

#urlbar[focused] > #urlbar-background {
  border-color: #e60012 !important;
  background: #11151a !important;
}

#TabsToolbar,
#nav-bar,
#PersonalToolbar {
  background: #07090c !important;
}
